<tr class="<%= cycle('even', 'odd') %>">
  <%- resource_attributes.each do |attribute| -%>
    <%- if attribute[:type] == :boolean -%>
      <td class="center">
        <% attr_value = resource.send(attribute[:name]) %>
        <%= attr_value.blank? ? '' : render_icon(attr_value) -%>
      </td>
    <%- elsif attribute[:type] == :integer || attribute[:type] == :float || attribute[:type] == :decimal -%>
      <td class="right"><%= resource.send(attribute[:name]) -%></td>
    <%- else -%>
      <td><%= resource.send(attribute[:name]) -%></td>
    <%- end -%>
  <%- end -%>
  <td class="tools">

    <%= link_to_confirmation_window(
          '',
          t("Are you sure?"),
          resource_url_scope.send("admin_#{resource_handler.model_name}_path", resource),
          :title => t("Delete"),
          :class => "icon destroy"
        ) if permitted_to?(:destroy, resource_permission_scope) -%>
    <%= link_to_overlay_window(
          '',
          resource_url_scope.send("edit_admin_#{resource_handler.model_name}_path", resource),
          {
            :title => t("Edit")
          },
          {
            :class => "icon configure_page",
            :title => t("Edit")
          }
        ) if permitted_to?(:edit, resource_permission_scope) -%>
    <%= link_to(
          '',
          resource_url_scope.send("edit_content_admin_#{resource_handler.model_name}_path", resource),
          :class => "icon edit", :title => t("Edit content")
        ) if permitted_to?(:edit_content, resource_permission_scope) -%>

  </td>
</tr>
